.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: lighter;
    color: var(--text-color);
    margin: 0;
    line-height: 1;
}

.logo span {
    color: var(--text-color);;
    font-weight: bold;
}

.bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    font-size: 1.3rem;
    transform: translateY(-50%);
    color: var(--inputs-color);
}

.search {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 3rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    background-color: var(--search-color);
    color: var(--inputs-color);
    font-size: 1rem;
    outline: none;
}

.search:focus {
    border-color: #cbd5e0;
}

.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: .5rem;
    padding: .5rem .75rem;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    border: .5px solid transparent;
}

.user-profile.active {
    border: .5px solid var(--light-blue);
    background-color: var(--hover-color2);
}


.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    color: var(--text-color);
}

.user-icon img {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.menu-icon {
    display: none;
}

.panel-profile {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: .5rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}


.option {
    display: flex;
    align-items: center;
    margin: 0;
    padding: .5rem .75rem;
    gap: 1rem;
    cursor: pointer;
    color: var(--text-color);
}

.option:hover {
    background-color: var(--hover-color);
}

.logout {
    color: var(--logout-color);
}

@media (max-width: 768px) {
    .topBar {
        flex-direction: column;
        height: 6rem;
        padding: 2rem 1rem;
    }
    .topBar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .user-profile {
        display: none;
    }
    .bar {
        width: 90%;
        margin-top: 1.5rem;
    }
    .search-bar {
        width: 100%;
        max-width: none;
    }
    .menu-icon {
        cursor: pointer;
        display: block;
    }
    .io-menu {
        font-size: 2.5rem;
    }
}
