.skills-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.chip {
    display: flex;
    align-items: center;
    background-color: var(--menu-color2);
    padding: 0.25rem 0.75rem;
    border-radius: 16px;
    font-size: 0.9rem;
}

.chip-close {
    background: none;
    color: var(--text-color);
    border: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.chip-close:hover {
    background: none;
    color: var(--logout-color);
}
