.jobs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.job-card {
    background-color: var(--bg-color-primary);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.2s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-card:nth-child(2) {
    background-color: var(--bg-color-secondary);
}
.job-card:nth-child(3) {
    background-color: var(--bg-color-tertiary);
}
.job-card:nth-child(4) {
    background-color: var(--bg-color-quaternary);
}

.job-card-header {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

.job-date {
    padding: 0.25rem 0.5rem;
    border-radius: 16px;
    font-size: 0.85rem;
    background-color: var(--white-color);
    color: var(--inputs-color);
    margin-right: 0.5rem;
}


.job-title {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.job-description {
    color: var(--inputs-color);
    margin-bottom: 0.75rem;
    flex: 1;
}

.job-skills {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.job-skill-tag {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--inputs-color);
    border-radius: 16px;
    font-size: 0.85rem;
    color: var(--inputs-color);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.job-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.job-salary {
    font-weight: bold;
    color: var(--text-color);
}

.btn {
    background-color: var(--text-color);
    color: var(--white-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--text-color2);
}

.btn-new-job {
    margin: 1rem;
}

@media (max-width: 768px) {
    .jobs-grid {
        grid-template-columns: 1fr;
    }
}

/* Estilos para la modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.title-modal {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
}

/* Tamaño fijo para el editor de texto con scroll */
.ql-container {
    border: 1px solid var(--inputs-color);
    border-radius: 5px;
    font-size: 1rem;
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
}

.ql-editor {
    padding: 0.75rem;
    height: 100%;
}

.form-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.full-width {
    grid-column: span 2;
    justify-content: center;
}

.form-group1 {
    flex: 1;
    position: relative;
    margin-bottom: 1.5rem;
    max-width: 450px;
    width: 100%;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajuste en la vista móvil */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .modal-content {
        max-width: 100%;
    }
}

/* ================================ */
.modal-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffe6cc;
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    margin-top: -2.5%;
}

.job-date {
    background-color: #ffffff;
    color: #333333;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.job-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333333;
    margin: 0;
}

.job-salary {
    font-size: 1rem;
    color: #666666;
    margin-top: 0.5rem;
}
